@media (max-width: 1200px) and (min-width: 1024px) {
  .main-aside {
    padding: 30px 30px 30px 35px;
    width: 280px;
  }
  .main-article {
    max-width: calc(100vw - 280px);
  }
  .header {
    max-width: 700px;
  }
  .mainPage {
    max-width: 700px;
    padding-right: 50px;
  }
  .search-box {
    padding-right: 50px;
    padding-top: 40px;
  }
  .course-sticky-inner {
    max-width: 700px;
    padding-right: 8px;
  }
  .payment-page {
    padding-right: 0;
  }
  .authorize-content {
    top: 30%;
  }
  .journalCard {
    width: 47%;
  }
  .tableTop-date, .visitList-date {
    width: 61.3%;
  }
  .tableTop-status, .visitList-status {
    width: 23.3%;
  }
  .publication-page {
    padding-left: 98px;
    padding-right: 90px;
  }
  .course-page, .testInfo, .review-page {
    padding-left: 90px;
    padding-right: 90px;
  }
  .prev-btn {
    left: -80px;
  }
  .next-btn {
    right: -32px;
  }
  .statistics .courseCard {
    width: 100%;
  }
  .statistics .courseCard-img {
  height: 120px;
  }
  .statistics .courseCard-caption-bottom {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .statistics .courseCard-btn {
    width: 100%;
    margin-top: 10px;
  }
  .statistics .courseCard-caption h6 {
    line-height: 110%;
  }
  .test-header-content {
    max-width: 700px;
  }
}

@media (max-width: 1023px) {
  .header-title {
    line-height: 100%;
  }
  .main-logo-xs {
    display: block;
    width: 34px;
    height: 34px;
    margin-right: 8px;
  }
  .main-logo-xs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .main-article {
    max-width: 100%;
  }
  .main-aside {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s linear;
    border-radius: 0 12px 12px 0;
    overflow: hidden;
    filter: none;
    padding: 30px 30px 30px 40px;
  }
  .main-aside.open {
    transform: translateX(0);
    filter: drop-shadow(0px 4px 40px rgba(0, 1, 83, 0.07));
  }
  .aside-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 12px;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .call-menu {
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }
  .icon-bar {
    background: $black;
    width: 20px;
    height: 1.6px;
    border-radius: 0.8px;
    display: block;
    flex-shrink: 0;
  }
  .call-menu .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  header {
    padding: 0 30px;
  }
  .mainPage {
    padding: 40px 30px 24px 30px;
  }
  .courseCard {
    width: 220px;
    margin: 10px;
  }
  .courseCard-wrapper {
    margin-left: -10px;
    margin-right: -10px;
  }
  .course-filter {
    padding-right: 50px;
  }
  .courseCard-caption-bottom {
    display: block;
    margin-top: 15px;
  }
  .courseCard-btn {
    margin-top: 15px;
    width: 100%;
  }
  .search-box {
    padding: 60px 30px 0 30px;
  }
  .main-nav {
    max-height: calc(100vh - 490px);
    overflow-y: auto;
    margin-right: -30px;
  }
  .main-aside-bottom {
    margin-top: 30px;
  }
  .course-sticky {
    padding: 0 30px;
  }
  .course-sticky-inner {
    max-width: 100%;
    padding-right: 8px;
  }
  .alert {
    left: 50%;
    top: 100px;
  }
  .journalCard {
    width: 47%;
  }
  .tableTop-date, .visitList-date {
    width: 63.3%;
  }
  .tableTop-status, .visitList-status {
    width: 21.3%;
  }
  .news-card {
    width: 225px;
    padding: 15px;
  }
  .news-card-img {
    height: 115px;
  }
  .lecture-wrapper {
    padding: 0 80px;
  }
  .next-btn {
    right: 48px;
  }
  .prev-btn {
    left: 0;
  }
  .result-wrapper {
    padding: 0 80px;
  }
  .congrat-wrapper {
    padding: 0 80px;
  }
  .authorize-page header {
    display: block;
  }
  .authorize-content {
    margin-top: 50px;
  }
  .term-content {
    margin-top: 16px;
  }
  .test-header-content {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .header-left {
    justify-content: flex-start;
    max-width: 70%;
  }
  header.authorized {
    .header-tools {
      display: flex;
      padding: 0;
      margin-left: 15px;
      background: transparent;
      box-shadow: none;
    }
    .notice-btn {
      width: 32px;
      height: 32px;
    }
    .header-tools .header-notice {
      margin-left: 0;
    }
    .header-tools .search-btn {
      display: none;
    }
    .header-tools .header-lang {
      display: none;
    }
  }
  .header-tools {
    display: none;
  }
  .main-logo {
    display: none;
  }
  .aside-close {
    display: none;
  }
  .switch-dark {
    background: $pearl;
    border-radius: 24px;
    width: 74px;
    height: 40px;
    position: relative;
  }
  .switch-dark .slider {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: $white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.3s ease;
  }
  .switch-dark input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
  .switch-dark input:checked + .slider {
    transform: translateX(34px);
  }
  .switch-dark-inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  .moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
  .header-lang {
    margin-left: 0;
  }
  .lang-change-btn {
    padding: 11px 16px 11px 14.5px;
  }
  .main-aside-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header {
    position: sticky;
    top: 0;
  }
  header {
    padding: 0 15px;
    background: $white;
  }
  .header {
    flex-wrap: nowrap;
    padding: 9px 0;
    max-width: 100%;
  }
  .header-right {
    flex-wrap: wrap;
    justify-content: initial;
  }
  .header-authorize {
    padding: 0;
    box-shadow: none;
  }
  .call-menu {
    margin-right: 10px;
  }
  .call-menu .icon-bar {
    transition: all 0.1s ease;
  }
  .call-menu.active .icon-bar {
    position: absolute;
    margin-top: 0!important;
  }
  .call-menu.active .icon-bar:nth-child(1) {
    transform: rotate(-45deg);
  }
  .call-menu.active .icon-bar:nth-child(2) {
    display: none;
  }
  .call-menu.active .icon-bar:nth-child(3) {
    transform: rotate(45deg);
  }
  .header-title {
    font-size: 20px;
    transform: initial!important;
    max-width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    letter-spacing: 0;
  }
  .header-notice {
    margin-right: auto;
  }
  .header-authorize a {
    font-size: 13px;
    line-height: 18px;
    padding: 7px 8px;
  }
  .header-authorize a.active {
    margin-left: 0;
  }
  .search-btn svg {
    width: 30px;
    height: 30px;
  }
  .mainPage {
    padding: 15px 15px 20px 15px;
  }
  .course-filter-left p {
    display: none;
  }
  .course-tab {
    margin-left: 0;
  }
  .course-filter {
    padding: 0;
    justify-content: space-between;
    margin-top: 16px;
  }
  .change-form button {
    width: 25px;
    height: 25px;
  }
  .courseCard-wrapper {
    margin: 8px 0 0 0;
  }
  .courseCard {
    width: 100%;
    margin: 8px auto;
  }
  .courseCard-meta {
    display: flex;
  }
  .courseCard-img {
    height: 140px;
  }
  .courseCard-caption .courseCard-meta {
    display: none;
  }
  .courseCard-caption .courseCard-meta li p {
    font-size: 14px;
  }
  .courseCard-caption .courseCard-meta li {
    margin-bottom: 3px;
  }
  .courseCard-rate p {
    font-size: 10px;
    line-height: 12px;
  }
  .courseCard-btn {
    font-size: 17px;
    margin-top: 0;
    width: fit-content;
  }
  .courseCard-caption-bottom {
    margin-top: 2px;
    display: flex;
  }
  .courseCard-wrapper.list .courseCard {
    margin: 8px -15px;
    border-radius: 0;
    width: initial;
    position: relative;
  }
  .courseCard-wrapper.list .courseCard-img {
    position: absolute;
    width: 74px;
    height: 74px;
    top: 16px;
    right: 0;
  }
  .courseCard-wrapper.list .courseCard-caption {
    flex-direction: column;
    align-items: flex-start;
  }
  .courseCard-wrapper.list .courseCard-caption-top {
    padding-right: 80px;
  }
  .courseCard-wrapper.list .courseCard-title {
    font-size: 10px;
    line-height: 12px;
  }
  .courseCard-wrapper.list .courseCard-caption h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .courseCard-wrapper.list .courseCard-meta li p {
    font-size: 12px;
    line-height: 14px;
  }
  .courseCard-wrapper.list .courseCard-info p {
    font-size: 13px;
    line-height: 18px;
  }
  .courseCard-wrapper.list .courseCard-rate p {
    font-size: 10px;
    line-height: 12px;
  }
  .courseCard-wrapper.list .courseCard-caption-bottom {
    width: 100%;
    margin-top: 16px;
    flex-direction: row;
    justify-content: space-between;
  }
  .courseCard-wrapper.list .courseCard-price p {
    font-size: 15px;
    line-height: 20px;
  }
  .courseCard-wrapper.list .courseCard-price span {
    font-size: 15px;
    line-height: 20px;
  }
  .courseCard-wrapper.list .courseCard-btn {
    margin-top: 0;
    font-size: 15px;
    line-height: 20px;
  }
  .main-aside {
    width: 100%;
    height: 100%;
    padding: 24px;
    top: 53px;
    left: 0;
    border-radius: 0;
    transform: translateX(0);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    min-height: initial;
    max-height: calc(100% - 53px);
  }
  .main-aside.show {
    opacity: 1;
    visibility: visible;
  }
  .main-nav {
    margin-right: -16px;
    max-height: initial;
  }
  .search-box {
    display: block;
    position: static;
    padding: 0;
    min-height: initial;
    margin-bottom: 25px;
  }
  .search-form {
    width: 100%;
    padding: 8px 8px 8px 15px;
    background: $pearl;
    border-radius: 4px;
    border: none;
  }
  .search-form .icon-search {
    display: block;
    margin-right: 8px;
  }
  .search-form input::placeholder {
    font-size: 15px;
    font-weight: 400;
  }
  .close-search {
    width: 24px;
    height: 24px;
    display: none;
  }
  .search-form input {
    font-size: 17px;
    line-height: 22px;
    overflow: hidden;
  }
  .clear-search {
    display: none;
  }
  .icon-close {
    width: 15px;
    height: 15px;
  }
  .main-article.searching .search-result {
    display: block;
  }
  .search-result .courseCard + .courseCard {
    margin-top: 10px;
  }
  .search-result {
    position: fixed;
    top: 111px;
    left: 0;
    padding: 0 15px;
    width: 100%;
    z-index: 1;
    height: calc(100% - 111px);
    overflow-y: auto;
    padding-bottom: 30px;
    display: none;
    .result-number {
      font-size: 15px;
      line-height: 20px;
    }
    .courseCard {
      align-items: flex-start;
      margin: 0 -15px;
      width: initial;
      border-radius: 0;
    }
    .courseCard-img {
      width: 74px;
      height: 74px;
    }
    .courseCard-caption {
      display: block;
    }
    .courseCard-title {
      font-size: 10px;
      line-height: 12px;
    }
    .courseCard-caption h6 {
      margin-top: 4px;
      font-size: 15px;
      line-height: 20px;
    }
    .courseCard-caption .courseCard-meta {
      margin-top: 4px;
    }
    .courseCard-info p {
      font-size: 13px;
      line-height: 100%;
    }
    .courseCard-rate p {
      font-size: 10px;
      line-height: 12px;
    }
    .courseCard-caption .courseCard-meta li p {
      font-size: 12px;
      line-height: 14px;
    }
    .courseCard-price p {
      font-size: 15px;
      line-height: 20px;
    }
    .courseCard-price span {
      font-size: 15px;
      line-height: 20px;
    }
    .courseCard-btn {
      width: fit-content;
      margin-top: 0;
      font-size: 15px;
      line-height: 20px;
    }
    .courseCard-caption-bottom {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .notice-list {
    left: initial;
    right: 0;
    top: 42px;
  }
  .course-sticky {
    top: 53px;
    padding: 0 15px;
  }
  .course-sticky-inner {
    display: none;
    padding-right: 0;
  }
  .course-sticky h4 {
    max-width: 100%;
  }
  .course-sticky-right {
    margin-top: 5px;
    justify-content: space-between;
  }
  .courseInfo-price {
    margin-left: 0;
  }
  .course-sticky.show + .mainPage {
    margin-top: -79px;
  }
  .courseNav {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .courseNav::-webkit-scrollbar {
    display: none;
  }
  .courseInfo .courseInfo-purchase {
    justify-content: space-between;
    .courseInfo-price {
      order: 2;
    }
    a {
      order: 1;
      width: 100%;
      margin-top: 10px;
      width: fit-content;
    }
  }
  .program {
    margin-top: 0;
  }
  .payment-content {
    flex-direction: column;
  }
  .payment-left {
    width: 100%;
  }
  .payment-period {
    margin-top: 25px;
  }
  .payment-period .course-title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 0;
  }
  .payment-course.payment-course-xs {
    display: flex;
  }
  .payment-course-caption {
    flex: 1;
  }
  .payment-right {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .payment-right a {
    order: 1;
  }
  .payment-price {
    padding-bottom: 25px;
    border-bottom: none;
  }
  .promo-enter {
    margin-top: 15px;
  }
  .payment-course {
    display: none;
  }
  .payment-button-wrapper {
    flex-wrap: nowrap;
  }
  .payment-button {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 14px 10px 14px;
    width: 48%;
  }
  .payment-button span {
    margin-left: 0;
    margin-top: 10px;
  }
  #payment_modal .modal-content {
    width: 95% !important;
    padding: 16px;
  }
  #payment_modal .modal-header h6 {
    font-size: 17px;
    line-height: 22px;
  }
  #payment_modal .payment-form span {
    font-size: 13px;
    line-height: 18px;
    display: block;
  }
  #payment_modal .payment-form-right p {
    margin-left: auto;
  }
  #payment_modal .payment-form-right {
    margin-top: 5px;
    padding-left: 0;
    justify-content: space-between;
  }
  #payment_modal .btn-copy {
    width: 25px;
    height: 25px;
    justify-content: flex-end;
    margin-left: 0;
  }
  #payment_modal .btn-copy i {
    width: 14px;
    height: 16px;
  }
  #payment_modal .payment-form {
    padding: 8.5px 0;
  }
  #payment_modal .enter-check p {
    font-size: 15px;
    line-height: 20px;
  }
  #payment_modal .modal-close {
    width: 20px;
    height: 20px;
  }
  #payment_modal .modal-close i {
    width: 20px;
    height: 20px;
  }
  #payment_modal .modal-body {
    margin-top: 9px;
  }
  #payment_modal .modal-body::-webkit-scrollbar {
    width: 3px;
  }
  #payment_modal .payment-modal-card {
    margin-top: 16px;
    height: 198px;
    padding: 16px 16px 16px 18px;
    background-size: cover!important;
  }
  #payment_modal .payment-modal-title {
    font-size: 15px;
    line-height: 20px;
  }
  .testCard-wrapper {
    margin-top: 16px;
  }
  .testCard {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -15px;
    border-radius: 0;
  }
  .testCard-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
  }
  .testCard-wrapper .testCard + .testCard {
    margin-top: 8px;
  }
  .testCard .courseCard-btn {
    width: fit-content;
    padding: 0;
    border: none;
    margin-top: 0;
    font-size: 15px;
    line-height: 20px;
  }
  .height100, .height100 body, .height100 .wrapper {
    height: 100%;
  }
  .authorize-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  .authorize-content {
    position: static;
    left: initial;
    top: initial;
    background: $white;
    transform: initial;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 36px 0 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .authorize-form {
    width: 100%;
    padding: 24px 15px;
    box-shadow: none;
  }
  .authorize-title {
    font-size: 22px;
    line-height: 28px;
  }
  .authorize-mobile-app {
    margin-top: 0;
    padding: 0 15px;
  }
  .authorize-mobile-app p {
    font-size: 12px;
    margin-left: 7px;
  }
  .authorize-mobile-app p span {
    font-size: 14px;
  }
  .authorize-mobile-app a {
    padding: 0 10px;
    height: 45px;
    width: 48%;
  }
  .authorize-mobile-app i {
    width: 20px;
    height: 20px;
  }
  .pwd-forget {
    margin-top: 24px;
    font-size: 14px;
    line-height: 16px;
  }
  .alert {
    padding: 5px 8px;
    bottom: 110px;
    top: initial;
    min-width: 215px;
  }
  .alert .btn-plain {
    min-width: 20px;
    min-height: 20px;
  }
  .authorize-input-form input {
    font-size: 17px;
  }
  .authorize-input-form input::placeholder {
    font-size: 17px;
  }
  .authorize-text {
    font-size: 14px;
    line-height: 16px;
  }
  .taskCard-page .course-filter {
    display: none;
  }
  .taskCard-wrapper {
    margin: 0;
    flex-direction: column;
  }
  .taskCard {
    width: initial;
    border-radius: 0;
    display: flex;
    position: relative;
    margin: 10px -15px;
    padding: 16px;
  }
  .taskCard-caption {
    width: 100%;
    padding: 0;
  }
  .taskCard-caption-top {
    padding-right: 60px;
  }
  .taskCard-img {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 16px;
    right: 16px;
    border-radius: 4px;
    overflow: hidden;
  }
  .taskCard .testCard-title {
    font-size: 15px;
    line-height: 20px;
  }
  .taskCard-author {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    color: $gray;
  }
  .taskCard-caption-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
  .taskCard-caption-bottom .courseCard-btn {
    margin-top: 0;
    border: none;
    padding: 0;
  }
  .journalCard-wrapper {
    margin: 16px -15px 0 -15px;
  }
  .journalCard {
    width: 100%;
    margin: 4px 0;
    align-items: flex-start;
    border-radius: 0;
  }
  .journalCard-caption {
    flex: 1;
  }
  .journalCard-caption .testCard-title {
    max-width: 80%;
  }
  .journalCard-caption .courseCard-meta {
    margin-top: 5px;
  }
  .teacherCard-caption p {
    font-size: 14px;
    line-height: 100%;
  }
  .teacherCard-caption span {
    margin-top: 5px;
  }
  .tableItem-name a {
    margin-left: 0;
    font-size: 12px;
    margin-top: 0;
  }
  .table-content .tableTop {
    display: none;
  }
  .tableItem {
    flex-direction: column;
  }
  .tableItem-name {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .tableItem-graph {
    overflow-x: auto;
    width: 100%;
    margin-top: 18px;
  }
  .tableItem-graph::-webkit-scrollbar {
    display: none;
  }
  .daytime p {
    white-space: nowrap;
  }
  .second-table-content {
    .tableTop {
      padding: 8px 10px;
    }
    .visitList-item {
      padding: 8px 10px;
      margin: 0 -15px;
      justify-content: space-between;
    }
    .tableTop-number, .visitList-number {
      width: 10%;
    }
    .tableTop-date, .visitList-date {
      width: 50%;
    }
    .visitList-date {
      font-size: 14px;
    }
    .visitList-status-inner {
      font-size: 10px;
      padding: 5px 7px;
      min-width: 110px;
    }
    .tableTop-status, .visitList-status {
      width: 35%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .rateItem {
    padding: 16px 0;
    justify-content: space-between;
  }
  .rateItem-name {
    flex: 1;
    align-items: flex-start;
  }
  .rate-item-test-xs {
    display: block!important;
    font-size: 13px!important;
    line-height: 18px!important;
    align-items: center!important;
    letter-spacing: -0.08px!important;
    color: $gray!important;
    margin-top: 12px!important;
  }
  .rateItem-test {
    display: none;
  }
  .rateTop-name {
    display: none;
  }
  .rateTop-point {
    display: none;
  }
  .rateTop-btn {
    width: 100%;
    justify-content: space-between;
  }
  .rateTop-test {
    width: 100%;
  }
  .rateTop-test-list {
    top: 26px;
    left: -16px;
    width: calc(100% + 32px);
  }
  .news-card-wrapper {
    margin: 0;
  }
  .news-card {
    width: 100%;
    padding: 12px 12px 16px 12px;
  }
  .news-card-link {
    margin: 0 0 8px 0;
  }
  .news-card-img {
    height: 140px;
  }
  .publication h1 {
    font-size: 22px;
    line-height: 28px;
  }
  .publication-img {
    height: 192px;
  }
  .publication-text p {
    font-size: 17px;
    line-height: 22px;
  }
  .publication-text p + p {
    margin-top: 22px;
  }
  .referral-page {
    padding-top: 0;
  }
  .referralBox {
    margin: 0 -15px;
    padding: 24px 16px 16px 16px;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 0;
  }
  .referralBox-input .btn-copy {
    margin-left: 0;
  }
  .referralBox-input {
    flex: 1;
  }
  .referralBox-share {
    display: flex;
  }
  .referralBox-text {
    margin-left: 0;
    margin-top: 16px;
  }
  .referralList {
    margin-top: 24px;
  }
  .string-tab {
    overflow-y: auto;
    margin: -15px -15px 0 -15px;
    padding: 8px 15px 0 15px;
  }
  .author-page .string-tab {
    margin-top: 8px;
  }
  .string-tab::-webkit-scrollbar {
    display: none;
  }
  .string-tablink {
    white-space: nowrap;
    letter-spacing: 0;
  }
  .courseBox-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
  }
  .myCourse-menu-content {
    margin: 0 -15px;
  }
  .course-box-wrapper {
    border-radius: 0;
  }
  .courseBox-caption-title {
    max-width: 85%;
  }
  .courseBox-caption .courseCard-meta {
    max-width: 85%;
  }
  .courseBox-caption-bottom {
    display: block;
  }
  .courseBox-caption-bottom .progress-wrapper {
    margin: 12px 0 0 0;
  }
  .courseBox-caption {
    padding-right: 0;
  }
  .courseBox-info-bottom p {
    display: none;
  }
  .courseBox-info-text {
    display: block;
    margin-top: 16px;
  }
  .download-certificate {
    display: none;
  }
  .download-certificate-double {
    display: block;
    margin-top: 16px;
  }
  .myCourse-content .courseInfo .courseInfo-link {
    display: none;
  }
  .myCourse-content .courseInfo .course-title {
    display: none;
  }
  .myCourse-content .courseInfo .courseInfo-meta {
    display: none;
  }
  .prev-btn, .next-btn {
    display: none;
  }
  .lecture-wrapper {
    padding: 0;
  }
  .iframe {
    margin: 16px -15px 0 -15px;
    height: 210px;
    border-radius: 0;
    width: initial;
  }
  .lecture-text {
    margin-top: 16px;
  }
  .download-file-right p {
    font-size: 14px;
    line-height: 120%;
    max-width: 60%;
  }
  .lecture-bottom {
    flex-direction: column;
  }
  .lecture-bottom a {
    width: 100%;
    padding: 10px 0;
  }
  .lecture-bottom a + a {
    margin-top: 10px;
  }
  .test-landing-content a {
    margin-top: 25px;
  }
  .test-content-bottom {
    flex-direction: column;
  }
  .test-content-bottom .btn-white {
    width: 100%;
  }
  .test-content-bottom .btn-gray {
    width: 100%;
    margin-top: 10px;
  }
  .taskResult-wrapper {
    border-top: none;
    margin-top: 8px;
    padding-bottom: 16px;
  }
  .result-wrapper {
    padding: 0;
  }
  .result-info {
    margin: -15px -15px 0 -15px;
    border-radius: 0;
    padding: 15px;
  }
  .result-info h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .result-info-bottom .result-btn {
    font-size: 15px;
    line-height: 20px;
    margin-left: 10px;
  }
  .result-info-bottom .btn-main {
    font-size: 15px;
    line-height: 20px;
  }
  .result-member-wrapper h6 {
    font-size: 17px;
    line-height: 22px;
  }
  .resultMember-number {
    width: 10%;
  }
  .resultMember-point {
    width: 17%;
  }
  .resultMember-name {
    width: 73%;
  }
  .congrat-wrapper {
    padding: 0;
  }
  .congrat-wrapper h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .courseProgram-caption-bottom p a {
    color: $green;
    font-weight: 400;
  }
  .congrat-certificate {
    margin-top: 16px;
    flex-direction: column;
    align-items: flex-start;
  }
  .congrat-certificate a {
    margin-top: 12px;
  }
  .congrat-review {
    margin-top: 40px;
  }
  .btn-late {
    margin-top: 25px;
  }
  .wallet-wrapper {
    margin-top: 0;
  }
  .wallet-info {
    margin: 0 -15px;
    border-radius: 0;
    padding: 16px;
  }
  .wallet-info-caption p {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .wallet-info-caption span {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.35px;
  }
  .wallet-info .btn-plain {
    padding: 8px;
  }
  .statement {
    align-items: flex-start;
  }
  .statement-left {
    max-width: 80%;
  }
  .modal-content {
    width: 90%!important;
  }
  .profile-content {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 auto;
  }
  .profile-right {
    margin: 0;
  }
  .profile .form-label {
    width: 100%;
    margin: 16px 0 0 0;
  }
  .profile {
    margin: 0 -15px;
    width: initial;
    border-radius: 0;
  }
  .profile-body {
    padding: 16px;
  }
  .profile-right button {
    display: none;
  }
  .profile-bottom {
    padding: 16px;
  }
  .profile-content .checkbox-wrapper {
    width: 100%;
  }
  .profile-notice .profile-content {
    margin-top: 16px;
  }
  .profile-notice .profile-content .checkbox-wrapper + .checkbox-wrapper {
    margin-top: 16px;
  }
  .profile-pwd .profile-content {
    margin-top: 0;
  }
  .profile-pwd-form {
    flex-direction: column;
  }
  .testProgram {
    margin: 16px -15px 0 -15px;
    border-radius: 0;
  }
  .started-test .testProgram-top .testProgram-certificate-download {
    display: block;
    margin-top: 12px;
  }
  .started-test .testProgram-body-head .testProgram-certificate-download {
    display: none;
  }
  .complete-test .testProgram-body-head {
    flex-wrap: wrap;
    .testProgram-complete {
      order: 1;
    }
    .testProgram-point {
      order: 2;
    }
    .collapse-btn {
      order: 3;
    }
    .testProgram-certificate-download {
      order: 4;
      flex: 1;
      margin-top: 12px;
    }
  }
  .programItem-caption {
    flex-direction: column;
    align-items: flex-start;
  }
  .testProgram-item-inner {
    align-items: flex-start;
    width: 100%;
  }
  .testProgram-item .courseCard-meta {
    margin-top: 4px;
    padding-left: 28px;
  }
  .testProgram-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .testProgram-item .testProgram-certificate-download {
    margin-left: 28px;
    margin-top: 12px;
  }
  .testProgram-item .testProgram-link {
    margin-left: 28px;
    margin-top: 12px;
  }
  .testProgram-item .testProgram-link span {
    margin-left: 0;
  }
  .author-page {
    padding-top: 0;
  }
  .report-wrapper {
    margin-top: 16px;
  }
  .report {
    flex-direction: column;
    border-bottom: none;
  }
  .report-left {
    width: 100%;
    padding-right: 0;
    border-right: none;
    padding-bottom: 17px;
    border-bottom: 0.5px solid $light-gray;
  }
  .report .courseCard-img {
    width: 74px;
    height: 74px;
  }
  .report .courseCard-caption h6 {
    font-size: 15px;
    line-height: 20px;
  }
  .report .courseCard-title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .report .courseCard-caption .courseCard-meta {
    margin-top: 8px;
  }
  .report .courseCard-caption .courseCard-meta li p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .courseCard-caption .courseCard-meta li {
    margin-bottom: 0;
  }
  .report .courseCard-rate p {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
  .report .courseCard-info {
    margin-top: 8px;
  }
  .report-right {
    padding-left: 0;
    padding-top: 16px;
    width: 100%;
  }
  .courseNav-item span {
    font-size: 13px;
    line-height: 18px;
  }
  .course-tablink {
    padding: 4px 12px;
  }
  .back-link span {
    font-size: 15px;
    line-height: 20px;
  }
  .header-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 0!important;
  }
  .header-profile span {
    display: none;
  }
  .author-page .statement-box {
    margin-top: 0;
  }
  .header.visible-back-link {
    padding: 15px 0;
    .call-menu {
      display: none;
    }
    .main-logo-xs {
      display: none;
    }
    .header-profile {
      display: none;
    }
    .header-tools {
      display: none;
    }
    .header-profile-box {
      display: none;
    }
  }
  .lecture-arrows {
    display: flex;
    align-items: center;
    margin: -10px 0;
  }
  .lecture-arrows .prev-btn-mini, .lecture-arrows .next-btn-mini {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $pearl;
    position: relative;
  }
  .prev-btn-mini:before {
    content: '';
    background: url(../img/icon/prev-icon.svg);
    width: 8px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .next-btn-mini {
    margin-left: 16px;
  }
  .next-btn-mini:before {
    content: '';
    background: url(../img/icon/next-icon.svg);
    width: 8px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .rate-content {
    margin-top: 16px;
  }
  .courseComment {
    margin-top: 0;
  }
  .myCourse-content .courseComment {
    margin-top: 24px;
  }
  .review-page .common-rate {
    margin-top: 16px;
    align-items: flex-start;
  }
  .common-rate-inner {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  .common-rate-inner span {
    margin-top: 10px;
  }
  .statistics {
    display: block;
  }
  .statistics-left {
    width: 100%;
    padding-right: 0;
    border-right: 0;
  }
  .statistics-right {
    width: 100%;
    margin-top: 23px;
    padding-left: 0;
  }
  #payment_modal .payment-modal-card p {
    font-size: 24px;
    line-height: 34px;
  }
  #payment_modal .payment-modal-card span {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
  }
  .courseInfo .courseInfo-meta {
    flex-wrap: wrap;
  }
  .courseInfo-text p {
    font-size: 15px;
    line-height: 20px;
    max-height: 82px;
  }
  .courseProgram .program-video-link {
    position: absolute;
    top: 0;
    right: 40px;
    width: 48px;
    height: 48px;
  }
  .courseProgram .program-video-play {
    width: 20px;
    height: 20px;
  }
  .courseProgram .program-video-play i {
    width: 10px;
    height: 10px;
  }
  .courseProgram .program-head {
    align-items: flex-start;
  }
  .courseProgram .program-open {
    margin-top: 20px;
  }
  .courseProgram .program-blocked {
    margin-top: 16px;
  }
  .courseProgram .program-heading {
    padding-right: 60px;
  }
  .courseProgram .program-caption .courseCard-meta {
    padding-right: 60px;
  }
  .courseProgram .collapse-btn {
    margin-top: 12px;
  }
  .courseComment .course-title {
    font-size: 17px;
    line-height: 22px;
  }
  .pwd-restore .authorize-bottom {
    margin-top: 24px;
  }
  .fixed-testBox {
    max-height: initial;
    overflow-y: initial;
  }
  .walletModal-body {
    margin-top: 16px;
  }
  .walletModal-body-caption p {
    font-size: 17px;
    line-height: 22px;
  }
  .walletModal-body .btn-main {
    border-radius: 8px;
  }
  .program-caption {
    max-width: 72%;
  }
  .sun {
    width: 20px;
    height: 20px;
  }
  .moon {
    width: 17px;
    height: 18px;
  }
  .switch-dark-wrapper {
    display: none;
  }
  .btn-logout {
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #F9F9FD;
  }
  .btn-logout svg {
    width: 14px;
    height: 16px;
  }
  .form-half {
    display: block;
  }
  .form-half .input-form {
    width: 100%;
  }
  .select-content {
    padding: 15px;
  }
  .form-half .input-form + .input-form {
    margin-top: 10px;
  }
  .select-content-body .btn-light-gray {
    width: 100%;
  }
  .test-header-content {
    max-width: 100%;
  }
  .sticky-test-header {
    padding: 0 15px;
  }
  .test-header-content .string-tab .string-tablink + .string-tablink {
    margin-left: 15px;
  }
  .test-alert {
    display: block;
  }
  .result-item-number {
    min-width: 30px;
  }
}

@media (max-width: 320px) {
  .call-menu {
    margin-right: 5px;
  }
  header.authorized .header-tools {
    margin-left: 5px;
  }
  .wallet-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .wallet-info .btn-plain {
    margin-top: 10px;
  }
  .header-title {
    font-size: 18px;
  }
  .course-filter {
    flex-direction: column;
    align-items: flex-start;
  }
  .change-form {
    margin-top: 10px;
    margin-left: auto;
  }
  .course-tab {
    justify-content: space-between;
    width: 100%;
  }
  .course-filter-left {
    width: 100%;
  }
  .lecture-arrows .prev-btn-mini, .lecture-arrows .next-btn-mini {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $pearl;
    position: relative;
  }
  .next-btn-mini {
    margin-left: 7px;
  }
  .rateItem-number {
    min-width: 30px;
  }
  .teacherCard-img {
    width: 30px;
    height: 30px;
  }
  .courseInfo .courseInfo-purchase {
    flex-direction: column;
    .courseInfo-price {
      order: 1;
      margin-right: auto;
    }
    a {
      order: 2;
      width: 100%;
    }
  }
  .payment-button span {
    font-size: 12px;
  }
  #payment_modal .payment-modal-card {
    height: 170px;
  }
  #payment_modal .payment-modal-card p {
    font-size: 18px;
    line-height: 120%;
  }
  #payment_modal .payment-modal-card span {
    margin-top: 8px;
    font-size: 14px;
    line-height: 16px;
  }
  #payment_modal .payment-form-right p {
    font-size: 13px;
  }
  #payment_modal .payment-form span {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .main-logo-xs {
    margin-right: 5px;
  }

}

@media (min-width: 1500px) {
  .header, .mainPage {
    max-width: 80%;
  }
  .iframe {
    height: 400px;
  }
}










